{% load static %}
<html>

<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<table align="center" border="0">
    <tr><th>{% include 'head.html' %}</th></tr>
    <tr><th>{% include 'menubar.html' %}</th></tr>

</table>
    <table align="center" border="0" width="1000">
        <tr>
            <th>
                <form action="{% url 'userlogin' %}" method="post">
                    {% csrf_token %}
                <table align="center" width="500">
                    <tr>
                        <th style="height: 60px" colspan="2"><center><h2 style="color: deepskyblue;text-transform: uppercase;font-size: 30px;font-weight: bolder;font-family: Arial">User Login</h2></center></th>
                    </tr>
                    <tr>
                        <th style="height: 50px;font-size: 20px">User Name:</th>
                        <th><input type="text" required name="s1" autofocus></th>
                    </tr>
                    <tr>
                        <th style="height: 50px;font-size: 20px">Password:</th>
                        <th><input type="password" required name="s2" autofocus></th>
                    </tr>
                    <tr>
                        <th  colspan="2" style="height: 55px"><center><button type="submit" class="btn btn-primary">Login</button></center></th>
                    </tr>
                </table>
                </form>
            </th>
            <br>
            <th>
                <form action="{% url 'successuser' %}" method="post">
                    {% csrf_token %}
                <table align="center" width="500">
                    <tr>
                        <th colspan="2" style="height: 60px;"><h2 style="text-transform: uppercase;font-weight: bolder;color:deepskyblue ;font-family: Arial;font-size: 30px"><center>User Register</center></h2></th>
                                            </tr>
                    <tr>
                        <th style="height: 50px;font-size: 20px">Name:</th>
                        <th><input type="text" required autofocus autocomplete="on" name="name"></th>
                    </tr>
                    <tr>
                        <th style="height: 50px;font-size: 20px">Contact Number:</th>
                        <th><input type="tel" required autofocus autocomplete="on" name="contact"></th>
                    </tr>
                    <tr>
                        <th style="height: 50px;font-size: 20px">E-mail Id:</th>
                        <th><input type="email" required autocomplete="on" name="email"></th>
                    </tr>
                    <tr>
                        <th style="height: 50px;font-size: 20px">Password:</th>
                        <th><input type="password" required  autocomplete="on" name="password"></th>
                    </tr>
                    <tr>
                        <th colspan="4" style="height: 60px"><center><button class="btn btn-primary" type="submit">Register</button></center></th>
                    </tr>
                   </table>
                </form>
                
            </th>
        </tr>



    </table>


    <table align="center" border="0" width="1000">
         <tr>
            <th>
                 {% for foo in messages %}
                     <h2 style="text-align: center;font-size: 25px;font-weight: bolder;text-transform: uppercase">{{ foo }}</h2>

   {% endfor %}
            </th>
        </tr>

    </table>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>