{% load staticfiles %}
<!doctype html>
{% if request.session.username %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title> {{ request.session.username }} </title>

  </head>
  <body>
  <table align="center" >
      <tr>
          <th>{% include 'head.html' %}</th>

      </tr>
      <tr>
           <th>{% include 'user/userbar.html'%}</th>
      </tr>

      </table>
  <table align="center" border="0">
      <tr>
          <td>
              <form action="{% url 'savesellproduct' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}

              <table  border="0" cellpadding="5" cellspacing="5">
              <tr>
                  <th colspan="5"><h1 style="color:blue;text-decoration: underline ;font-size: 30px;text-align: center;font-weight: lighter">
                      Add Product For Bidding</h1></th>
              </tr>
                  <tr>
                      <th>Product Name</th>
                      <th><input type="text" required name="p1" placeholder="Enter Name" autofocus></th>
                  </tr>
                  <tr>
                      <th>Product Price</th>
                      <th><input type="number" required name="p2" placeholder="Enter Price" autofocus></th>
                  </tr>
                  <tr>
                      <th>Product Info</th>
                      <th><textarea rows="5" required name="p3" placeholder="Enter Description"></textarea></th>
                  </tr>
                   <tr>
                      <th>Upload Photo</th>
                      <th><input type="file" name="p4" ></th>
                  </tr>
                  <tr>
                      <th colspan="5"><center><button type="submit" class="btn-success" >Save</button></center> </th>
                  </tr>


          </table>
              </form>
          </td>
          <td>
              <table align="center" border="0">
                  <tr>
                  <th colspan="7"><h1 style="color: crimson;font-size: 30px;text-decoration: underline;text-align: center;font-weight: lighter">
                     Selling Product Details</h1></th>
              </tr>
                  <tr style="background-color: lightgoldenrodyellow;color:magenta;height: 10px">
                      <th width="50">Product Id</th>
                      <th width="150">Product Name</th>
                      <th width="150">Product Price</th>
                      <th width="150">Product Information</th>
                      <th width="150">Image</th>
                      <th width="100">Status</th>
                  </tr>
                  {% for x in data %}
                      <tr>
                          <th width="50"><a style="text-decoration: none;color: green" href="{% url 'bidedproduct' %}?p1={{ x.id }}"> {{ x.id }}</a></th>
                      <th width="100">{{ x.pname }}</th>
                      <th width="50">{{ x.bid_price }}</th>
                      <th width="100">{{ x.info }}</th>
                          <th width="90"><a href="{% url 'bidedproduct' %}?p1={{ x.id }}"><img src="{{ x.p_image.url }}" width="90" height="80" ></a></th>
                      <th width="50">{{ x.status }}</th>
                      </tr>
                  {% endfor %}
              <tr>
          {% if  data.has_previous %}
              <th colspan="5"><a  style="text-decoration: none;color: blue" href="{% url 'sellproduct' %}?pgno={{ data.previous_page_number }}">Privous Page</a> </th>

          {% endif %}
      {% if data.has_next %}
          <th colspan="5"><a style="text-decoration: none;color: blue" href="{% url 'sellproduct' %}?pgno={{ data.next_page_number }}">Next Page</a> </th>
      {% endif %}
      </tr>
              </table>
          </td>
      </tr>
  </table>
{#    <a href="{% url 'purchasedproducts' %}?userid={{ request.session.userid }}">#}
  <a href="{% url 'purchasedproducts' %}" style="color: maroon;text-decoration: none;font-weight: bolder;font-size: 25px">
      <center> Click here for Products Purchased By {{ request.session.username }}</center></a>





 <table align="center" border="0" width="1000">
         <tr>
            <th>
                 {% for foo in messages %}
                     <h2 style="text-align: center;color: green;font-size: 25px;font-weight: bolder;text-transform: uppercase">{{ foo }}</h2>

   {% endfor %}
            </th>
        </tr>

    </table>

  </body>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>

</html>
{% endif %}